<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>Community</title>

	<link rel="stylesheet" href="css/main.min.css" th:href="@{/css/main.min.css}">
	<link rel="stylesheet" href="css/style.css"  th:href="@{/css/style.css}">
	<link rel="stylesheet" href="css/color.css"  th:href="@{/css/color.css}">
</head>
<body>
<div th:insert="~{/header_login.html}"></div>
<div class="theme-layout">
	<section>
		<div class="ext-gap bluesh high-opacity">
			<div class="content-bg-wrap" style="background: url(/images/resources/community.jpg)"></div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="top-banner">
							<h1>COMMUNITY</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area animated -->
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title"></h4>
										<ul class="naves">
											<li>
												<i class="ti-clipboard"></i>
												<a href="index_login.html" title=""th:href="@{/community}">게시물</a>
											</li>
											<li>
												<i class="ti-files"></i>
												<a href="timeline.html" title="">내 게시물</a>
											</li>
											<li>
												<i class="ti-comments-smiley"></i>
												<a href="messages.html" title="">메세지</a>
											</li>
											<li>
												<i class="ti-user"></i>
												<a href="timeline-friends.html" title="">친구</a>
											</li>
											<li>
												<i class="ti-share"></i>
												<a href="people-nearby.html" title="">동네친구</a>
											</li>
										</ul>
									</div><!-- Shortcuts -->
									<div class="widget stick-widget">
										<h4 class="widget-title">Popular Tags</h4>
										<ul class="followers">
											<li>
												<h5>#MBTI</h5>
											</li>
											<li>
												<h5>#INFJ</h5>
											</li>
											<li>
												<h5>#ISFP</h5>
											</li>
											<li>
												<h5>#ISTJ</h5>
											</li>
											<li>
												<h5>#ENTP</h5>
											</li>
											<li>
												<h5>#ESFP</h5>
											</li>
										</ul>
									</div><!-- popular tags -->
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="loadMore">
									<div class="central-meta item" >
									<!-- enctype="multipart/form-data" 추가 바이너리 데이터인 파일 데이터를 서버로 전송 하는 인코딩-->
										<form th:action="@{/community/update/{id}(id=${list.id})}" th:object="${list}" method="post" enctype="multipart/form-data">
											<input type="hidden" name="_method" value="post"/>
											<!--										put -> post 변경-->
											<input type="hidden" name="id" th:value="*{id}" />
											<div class="user-post">
												<div class="friend-info">
													<figure>
														<img src="/images/resources/user.png" alt="">
													</figure>
													<div class="friend-name">
														<ins><a href="" title="" th:text="${session.loginMember.getLoginId()}">CY</a></ins>
<!--														<span th:text="*{modified}"></span>-->
													</div>
													<!--												<a th:href="@{/community/delete(id=${list.id})}">삭제</a>-->
													<div class="post-meta">
														<!--												<img src="/images/resources/user-post.jpg" alt="">-->
														<div class="description">
															<!--													name="content" 추가 updatedCommunity 엔티티 content 바인딩 boardUpdate 로 전달	-->
															<textarea name="content" th:text="*{content}"></textarea>
														</div>
														<!--												submit 추가  submit 으로 폼 데이터 서버로 전달-->
														<button type="submit">수정</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div><!-- centerl meta -->
<!--							<div class="col-lg-3">-->
<!--								<aside class="sidebar static">-->
<!--									<div class="widget">-->
<!--										<h4 class="widget-title">오픈채팅</h4>-->
<!--										<div class="your-page">-->
<!--											<form action="/community" method="post">-->
<!--												<input type="text" name="name" placeholder="채팅방 이름">-->
<!--												<button type="submit" >방 만들기</button>-->
<!--											</form>-->

<!--											<table>-->
<!--												<tr th:each="room : ${roomList}" >-->
<!--													<td>-->
<!--														<a th:href="@{/chat/chatRoom(roomId=${room.roomId})}"-->
<!--														   th:text="${room.name}"></a>-->
<!--													</td>-->
<!--												</tr>-->
<!--											</table>-->
<!--										</div>-->
<!--									</div>&lt;!&ndash; Categories &ndash;&gt;-->
<!--									<div class="widget friend-list stick-widget">-->
<!--										<h4 class="widget-title">사용자</h4>-->
<!--										<div id="searchDir"></div>-->
<!--										<ul id="people-list" class="friendz-list" th:each="members : ${members}">-->
<!--											<li>-->
<!--												<figure>-->
<!--													<img src="/images/resources/user.png" alt="">-->
<!--													<span class="status f-online"></span>-->
<!--												</figure>-->
<!--												<div class="friendz-meta">-->
<!--													<a href="" th:text="${members.loginId}">인싸</a>-->
<!--												</div>-->
<!--											</li>-->
<!--										</ul>-->
<!--									</div>&lt;!&ndash; friends list sidebar &ndash;&gt;-->
<!--								</aside>-->
<!--							</div>&lt;!&ndash; sidebar &ndash;&gt;-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div th:insert="~{footer.html}"></div>

</div>
</body>

</html>