<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Project_Mbti</title>
        <!-- Favicon-->
        <!-- Bootstrap Icons-->
<!--        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />-->
        <!-- Google fonts-->
<!--        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />-->
<!--        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />-->
        <!-- SimpleLightbox plugin CSS-->
<!--        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand"  th:href="@{/}"><img src="/img/MBTI흰.png" style="width: 70px; height: 40px"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="../mbti_information.html" th:href="@{/about}">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="../book/book1.html" th:href="@{/book/best}">Book</a></li>
                        <li class="nav-item"><a class="nav-link" href="../movie/movieMbti.html" th:href="@{/movie/box}">Movie</a></li>
                        <li class="nav-item"><a class="nav-link" href="../movie/movieMbti.html" th:href="@{/music/mbti/{type}(type=type)}">Music</a></li>
                        <li class="nav-item"><a class="nav-link" href="../kaka.html"  th:href="@{/getAllData}">Place</a></li>
                        <li class="nav-item"><a class="nav-link" href="../community/index.html" th:href="@{/login}">Community</a></li>
                        <li class="nav-item"><a class="nav-link" href="../login/login.html" th:href="@{/login}">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <!--                        <h1 class="text-white font-weight-bold">나는 어떤 사람인지, 어떤 것을 좋아하는지 고민인가요?<br>-->
                        <!--                            이곳에서 MBTI 최적유형을 찾고, 유형별 추천 코스를 경험해보세요.</h1>-->
                        <hr class="divider" />
                    </div>;
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5" style="font-size: 4em;">나는 어떤 사람인지,<br>어떤 것을 좋아하는지 고민인가요?<br>
                            이곳에서 MBTI 최적유형을 찾고, 유형별 추천 코스를 경험해보세요.</p>
                        <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h3 class="text-white mt-0" style="font-size: 3em;">Meet Yourself</h3>
                        <hr class="divider divider-light">
                        <p class="text-white-75 mb-5" style="font-size: 2em;">사람의 성향을 파악하는 방법으로 성격 유형 검사가<br>꾸준히 인기를 얻고 있습니다.<br>
                            MBTI(Myers-Briggs Type Indicator)로 불리는 이 검사는<br>4개 지표를 나누고 각각 두 가지 중 하나의 결과를 도출해내는데,<br>이를 통해 열여섯 가지 성격 유형이 만들어집니다.</p>
                        <p class="text-white-75 mb-5" style="font-size: 1.5em;">
                            에너지의 방향을 나타내는 외향형(E), 내향형(I)<br>
                            사람이나 사물을 인식하는 방식을 나타내는 감각형(S), 직관형(N)<br>
                            판단의 근거를 나타내는 사고형(T), 감정현(F)<br>
                            개인이 선호하는 행동 양식을 나타내는 판단형(J), 인식형(P)<br>
                            에 어울릴만한 책, 영화, 문화를 추천해드립니다.
                        </p>
                        <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">유형별 추천 코스</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">정보</h3><br>
                            <p class="text-muted mb-0">나와 같은 유형 혹은 다른 유형의 비율과<br>
                                각 유형의 정보까지 확인할 수 있습니다</p><br>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">책/영화/음악/장소</h3><br>
                            <p class="text-muted mb-0">MBTI 16가지 유형별 혹은<br>
                                분석형(_NT_), 외교관형(_NF_),<br>관리자형(_S_J), 탐험가형(_S_P)별로<br>추천해드립니다</p><br>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">AI추천</h3><br>
                            <p class="text-muted mb-0">나의 취향을 바탕으로<br> ai가 추천해드립니다</p><br>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">커뮤니티</h3><br>
                            <p class="text-muted mb-0">나와 같은 유형 혹은 다른 유형의<br>MBTI친구들과
                                편하게 소통할 수 있습니다</p><br>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/img/book.jpg" th:href="@{/book/best}" title="Book">
                            <img class="img-fluid" src="/img/book.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">BOOK</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/img/movie.jpg" th:href="@{/movie/box}" title="Movie">
                            <img class="img-fluid" src="/img/movie.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">MOVIE</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6" >
                        <a class="portfolio-box" href="/img/music.jpg" th:href="@{/music/mbti/{type}(type=type)}" title="Exhibition">
                            <img class="img-fluid" src="/img/music.jpg"  alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50"  >Category</div>
                                <div class="project-name" >MUSIC</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6" >
                        <a class="portfolio-box" href="/img/exhibition.jpg" th:href="@{/getAllData}" title="Exhibition">
                            <img class="img-fluid" src="/img/exhibition.jpg"  alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50"  >Category</div>
                                <div class="project-name" >Place</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
        <section class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">MBTI 검사! 지금 해보세요</h2>
                <a class="btn btn-light btn-xl" href="/static/test.html" th:href="@{/test}" th:target="_blank">Click! Now</a>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - MBTI PLUS</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js}"></script>
        <!-- SimpleLightbox plugin JS-->
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbo/2.1.0/simpleLightbox.min.js" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js}"></script>-->
        <!-- Core theme JS-->
        <script src="/js/scripts.js" th:src="@{/js/scripts.js}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!--        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->
    </body>
</html>
