<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mbti.demo.mybatis.BookMapper">


    <select id="findAll" resultType="Book">
        select 제목 as title,
               이미지 as image,
               작가 as author,
               출판사 as company
        from book
    </select>

    <select id="findByAnalystType" resultType="Book">
        select 제목 as title,
               이미지 as image,
               작가 as author,
               출판사 as company,
               서술 as description,
               링크 as link
        from Book
        where 서술 like '%과학%' or
            서술 like '%말하기%' or
            서술  like '%정치%' or
            서술 like '%SF%'
    </select>

    <select id="findByDiplomaticType" resultType="Book">
        select 제목 as title,
               이미지 as image,
               작가 as author,
               출판사 as company,
               서술 as description,
               링크 as link
        from Book
        where 서술 like '%심리%' or
            서술 like '%외교%' or
            서술 like '%사회%' or
            서술 like '%에세이%'
    </select>

    <select id="findByAdministratorType" resultType="Book">
        select 제목 as title,
               이미지 as image,
               작가 as author,
               출판사 as company,
               서술 as description,
               링크 as link
        from Book
        where 서술 like '%교양%' or
            서술 like '%경영%' or
            서술 like '%사업%' or
            서술 like '%장편소설%'

    </select>

    <select id="findByExplorerType" resultType="Book">
        select 제목 as title,
               이미지 as image,
               작가 as author,
               출판사 as company,
               서술 as description,
               링크 as link
        from Book
        where 서술 like '%여행%' or
            서술 like '%유머%' or
            서술 like '%예술%' or
            서술 like '%심리%'
    </select>

    <select id="countTotalBooks" resultType="long">
        SELECT COUNT(*) FROM Book
    </select>

    <select id="findByGenre" resultType="Book">
        select
        제목 AS title,
        이미지 as image,
        작가 as author,
        출판사 as company,
        서술 as description,
        링크 as link
        from book 
        WHERE  genre LIKE '%' || #{genre} || '%'
    </select>



</mapper>
