<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace에 Mapper 인터페이스를 지정해야 한다. -->
<mapper namespace="mbti.demo.mybatis.MovieMapper">


    <select id="findByGenre" resultType="movie">
        select
        영화코드 AS code,
        국문영화명 AS name,
        제작연도 AS productionYear,
        개봉일 AS opening,
        제작상태 AS productionState,
        제작국가 AS productionNation,
        영화장르 AS genre,
        대표제작국가명 AS representativeNation,
        대표장르명 AS representativeGenre,
        URL,
        영화정보 AS information
        from Movie
        WHERE 영화장르 LIKE '%' || #{genre} || '%'
--         ORDER BY
    </select>

    <select id="findByAnalystType" resultType="movie">
        select
            영화코드 AS code,
            국문영화명 AS name,
            제작연도 AS productionYear,
            개봉일 AS opening,
            제작상태 AS productionState,
            제작국가 AS productionNation,
            영화장르 AS genre,
            대표제작국가명 AS representativeNation,
            대표장르명 AS representativeGenre,
            URL,
            영화정보 AS information
        from Movie
        where 영화장르 LIKE '%SF%' OR 영화장르 LIKE '%판타지%' OR 영화장르 LIKE '%공포(호러)%' OR 영화장르 LIKE '%애니메이션%'
--         ORDER BY
    </select>

    <select id="findByDiplomaticType" resultType="movie">
        select
            영화코드 AS code,
            국문영화명 AS name,
            제작연도 AS productionYear,
            개봉일 AS opening,
            제작상태 AS productionState,
            제작국가 AS productionNation,
            영화장르 AS genre,
            대표제작국가명 AS representativeNation,
            대표장르명 AS representativeGenre,
            URL,
            영화정보 AS information
        from Movie
        where 영화장르 LIKE '%드라마%' OR 영화장르 LIKE '%가족%' OR 영화장르 LIKE '%멜로/로맨스%' OR 영화장르 LIKE '%코미디%'
--         ORDER BY
    </select>

    <select id="findByAdministratorType" resultType="movie">
        select
            영화코드 AS code,
            국문영화명 AS name,
            제작연도 AS productionYear,
            개봉일 AS opening,
            제작상태 AS productionState,
            제작국가 AS productionNation,
            영화장르 AS genre,
            대표제작국가명 AS representativeNation,
            대표장르명 AS representativeGenre,
            URL,
            영화정보 AS information
        from Movie
        where 영화장르 LIKE '%범죄%' OR 영화장르 LIKE '%스릴러%' OR 영화장르 LIKE '%사극%' OR 영화장르 LIKE '%전쟁%' OR 영화장르 LIKE '%다큐멘터리%' OR 영화장르 LIKE '%액션%'
--         ORDER BY
    </select>

    <select id="findByExplorerType" resultType="movie">
        select
            영화코드 AS code,
            국문영화명 AS name,
            제작연도 AS productionYear,
            개봉일 AS opening,
            제작상태 AS productionState,
            제작국가 AS productionNation,
            영화장르 AS genre,
            대표제작국가명 AS representativeNation,
            대표장르명 AS representativeGenre,
            URL,
            영화정보 AS information
        from Movie
        where 영화장르 LIKE '%미스터리%' OR 영화장르 LIKE '%어드벤처%' OR 영화장르 LIKE '%뮤지컬%' OR 영화장르 LIKE '%코미디%' OR 영화장르 LIKE '%애니메이션%'
--         ORDER BY
    </select>

    <select id="findByDailyBox" resultType="BoxMovie">
        select
            당일영화순위 AS rank,
            전일대비순위증감분 AS rankInten,
            랭킹신규진입여부 AS rankOldAndNew,
            영화대표코드 AS movieCd,
            국문영화명 AS movieNm,
            영화개봉일 AS openDt,
            당일관객수 AS audiCnt,
            전일대비관객수증감 AS audiInten,
            누적관객수 AS audiAcc,
            URL AS boxURL,
            영화정보 AS boxInfo,
            예매URL AS bookingURL
        from BOX_MOVIE  -- 이거 바꿔야 되는지 아닌지 기억이 안남
    </select>

    <select id="findMoviesWithPaging" resultType="Movie">
--         select
        select
        영화코드 AS code,
        국문영화명 AS name,
        제작연도 AS productionYear,
        개봉일 AS opening,
        제작상태 AS productionState,
        제작국가 AS productionNation,
        영화장르 AS genre,
        대표제작국가명 AS representativeNation,
        대표장르명 AS representativeGenre,
        URL,
        영화정보 AS information

        from Movie

    </select>

    <select id="firstRank" resultType="BoxRank">
        select
            rank,
            RANK_DATE,
            movieNm
        from BOX_RANK_DATA  -- 이거 바꿔야 되는지 아닌지 기억이 안남
        where movieNm in (select 국문영화명 from BOX_MOVIE where 당일영화순위 = 1)
    </select>

    <select id="secondRank" resultType="BoxRank">
        select
            rank,
            RANK_DATE,
            movieNm
        from BOX_RANK_DATA  -- 이거 바꿔야 되는지 아닌지 기억이 안남
        where movieNm in (select 국문영화명 from BOX_MOVIE where 당일영화순위 = 2)
    </select>

    <select id="thirdRank" resultType="BoxRank">
        select
            rank,
            RANK_DATE,
            movieNm
        from BOX_RANK_DATA  -- 이거 바꿔야 되는지 아닌지 기억이 안남
        where movieNm in (select 국문영화명 from BOX_MOVIE where 당일영화순위 = 3)
    </select>

    <select id="fourthRank" resultType="BoxRank">
        select
            rank,
            RANK_DATE,
            movieNm
        from BOX_RANK_DATA  -- 이거 바꿔야 되는지 아닌지 기억이 안남
        where movieNm in (select 국문영화명 from BOX_MOVIE where 당일영화순위 = 4)
    </select>

    <select id="fifthRank" resultType="BoxRank">
        select
            rank,
            RANK_DATE,
            movieNm
        from BOX_RANK_DATA  -- 이거 바꿔야 되는지 아닌지 기억이 안남
        where movieNm in (select 국문영화명 from BOX_MOVIE where 당일영화순위 = 5)
    </select>

    <select id="sixthRank" resultType="BoxRank">
        select
            rank,
            RANK_DATE,
            movieNm
        from BOX_RANK_DATA  -- 이거 바꿔야 되는지 아닌지 기억이 안남
        where movieNm in (select 국문영화명 from BOX_MOVIE where 당일영화순위 = 6)
    </select>

    <select id="seventhRank" resultType="BoxRank">
        select
            rank,
            RANK_DATE,
            movieNm
        from BOX_RANK_DATA  -- 이거 바꿔야 되는지 아닌지 기억이 안남
        where movieNm in (select 국문영화명 from BOX_MOVIE where 당일영화순위 = 7)
    </select>

    <select id="eighthRank" resultType="BoxRank">
        select
            rank,
            RANK_DATE,
            movieNm
        from BOX_RANK_DATA  -- 이거 바꿔야 되는지 아닌지 기억이 안남
        where movieNm in (select 국문영화명 from BOX_MOVIE where 당일영화순위 = 8)
    </select>

    <select id="ninthRank" resultType="BoxRank">
        select
            rank,
            RANK_DATE,
            movieNm
        from BOX_RANK_DATA  -- 이거 바꿔야 되는지 아닌지 기억이 안남
        where movieNm in (select 국문영화명 from BOX_MOVIE where 당일영화순위 = 9)
    </select>

    <select id="tenthRank" resultType="BoxRank">
        select
            rank,
            RANK_DATE,
            movieNm
        from BOX_RANK_DATA  -- 이거 바꿔야 되는지 아닌지 기억이 안남
        where movieNm in (select 국문영화명 from BOX_MOVIE where 당일영화순위 = 10)
    </select>

    <select id="countTotalBoxMovies" resultType="long">
        SELECT COUNT(*) FROM BOX_MOVIE
    </select>

    <select id="countTotalMovies" resultType="long">
        SELECT COUNT(*) FROM Movie
    </select>

</mapper>